<!doctype html>
<html>

<head>
  <!--Use the `title` variable to set the title of the page-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="static/styles/menu.css">
</head>

<body>
<div class="menu">
  <div class="container">
    <div class="menu__inner">
      <div class="logo">
      </div>
      <ul class="nav">
        <li><a href="http://localhost:7001/home">Home</a></li>
        <li><a href="http://localhost:7001/home/recognition">К распознаванию</a></li>
        <li><a href="http://localhost:7001/home/training">К обучению</a></li>
        <li><a href="http://localhost:7001/home/about">About</a></li>
        <li><a href="http://localhost:7001/home/logOut">Выход</a></li>
      </ul>
    </div>
  </div>
</div>
<a>Дипломная работа студента А-05-19 Каменева Руслана</a>
</body>
</html>